@tailwind components;
@tailwind utilities;
@layer {
  @tailwind base; 
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Bold.ttf');
  font-weight: 700;
}