@tailwind components;
@tailwind utilities;
@layer {
  @tailwind base; 
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Regular.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'OpenSauceOne';
  src: url('/fonts/OpenSauceOne-Bold.ttf');
  font-weight: 700;
}

.ticker-digit {
  font-feature-settings: "tnum";
  font-family: monospace;
  font-weight: 700;
}

.safe-area-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: env(safe-area-inset-bottom, 0px);
  z-index: 1000;
}